Repository skkuding/skkuzzim, pull requests merged in 2023-01, with the labels that each got.

#6 feat(fe): fe-setting
  .vscode/extensions.json
  frontend/.eslintrc.cjs
  frontend/.prettierrc.json
  frontend/env.d.ts
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.ico
  frontend/src/App.vue
  frontend/src/assets/base.css
  frontend/src/assets/logo.svg
  frontend/src/assets/main.css
  frontend/src/components/HelloWorld.vue
  frontend/src/components/TheWelcome.vue
  frontend/src/components/WelcomeItem.vue
  frontend/src/components/icons/IconCommunity.vue
  frontend/src/components/icons/IconDocumentation.vue
  frontend/src/components/icons/IconEcosystem.vue
  frontend/src/components/icons/IconSupport.vue
  frontend/src/components/icons/IconTooling.vue
  frontend/src/main.ts
  frontend/src/router/index.ts
  frontend/src/stores/counter.ts
  frontend/src/views/AboutView.vue
  frontend/src/views/HomeView.vue
  frontend/tsconfig.app.json
  frontend/tsconfig.config.json
  frontend/tsconfig.json
  frontend/tsconfig.vitest.json
  frontend/vite.config.ts
Labels: feat: frontend

#24 fix: add configmodule
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
Labels: bug, feat: backend

#25 18 db docker setting
  .vscode/extensions.json
  CONTRIBUTING.md
  backend/.env
  docker-compose.yml
Labels: feat: backend

#28 fix(fe): add type declarations of icon
  frontend/env.d.ts
Labels: feat: frontend

#33 chore(be): add creator column in reservation table
  backend/prisma/migrations/20230113073207_add_creator/migration.sql
  backend/prisma/schema.prisma
Labels: feat: backend

#38 fix: resolve errors by duplicated typescript-eslint plugins
  .eslintrc.js
  docker-compose.yml
  frontend/package.json
  package.json
  pnpm-lock.yaml
Labels: bug

#26 feat(fe): add radio group
  frontend/package.json
  frontend/src/components/RadioGroup.vue
Labels: feat: frontend

#31 feat(fe): add text input
  frontend/src/components/TextInput.vue
  frontend/src/styles/style.css
Labels: feat: frontend

#20 feat(fe): add button
  .eslintrc.js
  .github/ISSUE_TEMPLATE/frontend-feature-dev.yml
  .prettierrc
  .vscode/settings.json
  frontend/.eslintrc.cjs
  frontend/src/components/Button.vue
  frontend/src/main.ts
  frontend/src/pages/[id].vue
  frontend/src/pages/index.vue
  frontend/src/pages/select.vue
  frontend/src/stores/counter.ts
  frontend/src/styles/style.css
  frontend/src/styles/theme.ts
  frontend/vite.config.ts
  package.json
Labels: feat: frontend

#44 feat(fe): add time block
  frontend/src/components/TimeBlock.vue
  frontend/src/styles/style.css
Labels: feat: frontend

#49 chore: add packages and settings for class validation
  backend/package.json
  backend/src/main.ts
Labels: feat: backend

#53 chore(be): add enum Club
  backend/prisma/migrations/20230123051305_add_club_enum/migration.sql
  backend/prisma/schema.prisma
Labels: feat: backend

#39 feat(BE): add get all reservations service
  backend/.env
  backend/package.json
  backend/src/reservation/dto/getAllReservation.dto.ts
  backend/src/reservation/dto/respondGetAllReservationRequest.dto.ts
  backend/src/reservation/reservation.controller.ts
  backend/src/reservation/reservation.service.ts
Labels: feat: backend

#34 feat(fe): add table
  frontend/src/components/Table.vue
  frontend/tsconfig.app.json
Labels: feat: frontend

#52 feat(be): add reservation delete service
  backend/prisma/migrations/20230126100948_add_on_delete_condition/migration.sql
  backend/prisma/schema.prisma
  backend/src/reservation/reservation.controller.ts
  backend/src/reservation/reservation.service.ts
Labels: feat: backend

#54 feat(fe): modal box done
  frontend/src/components/Modal.vue
Labels: feat: frontend

#45 feat(be): add reservation create service
  backend/src/reservation/dto/createReservation.dto.ts
  backend/src/reservation/reservation.controller.ts
  backend/src/reservation/reservation.service.ts
Labels: feat: backend

#19 feat(fe): Header & Toast 완성
  frontend/package.json
  frontend/src/App.vue
  frontend/src/assets/logo.png
  frontend/src/components/Header.vue
  frontend/src/components/Toast.vue
  package-lock.json
Labels: feat: frontend

#43 feat(BE): add specific table view
  backend/src/reservation/dto/getSpecificReservaionResponse.dto.ts
  backend/src/reservation/dto/getSpecificReservationRequest.dto.ts
  backend/src/reservation/reservation.controller.ts
  backend/src/reservation/reservation.service.ts
Labels: feat: backend

#50 feat(be): add reservation update service
  backend/src/reservation/dto/updateReservation.dto.ts
  backend/src/reservation/reservation.controller.ts
  backend/src/reservation/reservation.service.ts
Labels: feat: backend

#48 feat(fe): add list item
  frontend/.eslintrc.cjs
  frontend/package.json
  frontend/src/components/ListItem.vue
  frontend/src/styles/theme.ts
Labels: feat: frontend

#61 feat(dev): define api proxy server in vite config
  frontend/package.json
  frontend/vite.config.ts
  package.json
  pnpm-lock.yaml
Labels: feat: frontend

#63 refactor(fe): use on-click-outside and use v-model in modal
  frontend/package.json
  frontend/src/components/Modal.vue
  pnpm-lock.yaml
Labels: feat: frontend
